<div class="container">
    <h1 class="title">{{chat.name}}</h1>
    <div>
        <strong>ID:</strong> {{chat.chatId}}
    </div>
    <div>
        <strong>Notes:</strong> {{chat.notes}}
    </div>
    <div>
        <strong>Configuration:</strong>
        <pre>{{json chat.configuration}}</pre>
    </div>
</div>
