<div>
<div style="text-align: center;">
<h1 class="title">Manitou</h1>
</div>

<div style="padding: 3%;">
<form action="/login" method="post" class="box" style="width: 90%; padding:10%">
    <div class="field" >
        <label class="label" for="username">Username</label>
        <div class="control">
            <input class="input" type="text" id="username" name="username" required>
        </div>
    </div>
    <div class="field">
        <label class="label" for="password">Password</label>
        <div class="control">
            <input class="input" type="password" id="password" name="password" required>
        </div>
    </div>
    <div class="field">
        <div class="control" style="margin-bottom: 3%; padding:3%">
            <button type="submit" class="button is-primary" style="float: right;">Entrar</button>
        </div>
    </div>

<div style="height: 15%;">
<img src="/images/manitou.png" alt="Icono" style="width: 200px; float:left;">
</div>
</form>

</div>
</div>